services:
  postgres:
    image: postgres:latest
    container_name: recall-app-database
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: recall-app
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
